body {background-color:black;
}

h1 
    {color: white; 
    text-align: center; 
    text-decoration-line: underline;
    font-style: italic;
}
/* above makes H1 hearders white, center, underlined, and in italics. */
p 
    {color: white; 
    text-align: left;
}

h2 
    {color: white; pointer;
    text-align: center;
}

h3 {color: white; text-align: center;}
ul {color: white; text-align: left;}
a {color: white; text-align: left;}

li
    {line-height: 1.8em;
    background: blue;
    border-style: solid;}
    /* The above makes blue boxes around listed */

    html{
        cursor: url('../images/icons8-neuron-48.png'), pointer
    }
    /* adds custom cursor of neuron and back up as pointer */